awkward==1.10.2
awkward-cpp==7
awkward0==0.15.5
boost-histogram==1.3.2
cachetools==5.3.0
click==8.1.3
cloudpickle==2.2.1
coffea==0.7.20
contourpy==1.0.7
correctionlib==2.2.2
cycler==0.11.0
fonttools==4.38.0
fsspec==2023.1.0
hist==2.6.3
histoprint==2.4.0
kiwisolver==1.4.4
llvmlite==0.39.1
lz4==4.3.2
markdown-it-py==2.1.0
matplotlib==3.6.3
mdurl==0.1.2
mplhep==0.3.26
mplhep-data==0.0.3
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyarrow==11.0.0
pydantic==1.10.4
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
rich==13.3.1
scipy==1.10.0
six==1.16.0
toml==0.10.2
tqdm==4.64.1
typing_extensions==4.4.0
uhi==0.3.3
uproot==4.3.7
uproot3==3.14.4
uproot3-methods==0.10.1
vector==0.11.0
